.party__settings {
    .party__copy-id, .party__copy-link {
        transition: $transition-300;
        &:hover {
            filter: invert(29%) sepia(96%) saturate(1898%) hue-rotate(198deg) brightness(102%) contrast(105%);
        }
        cursor: pointer;
    }
}
.party__members-container {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2rem;
        bottom: 0;
    }
}
.party__member {
    position: relative;
}
