.dashboard__container {
    height: fit-content;
    margin-top: 2rem;
    gap: 2rem;
}

.dashboard__info {
    gap: 0.5rem;
    h1 {
        font-size: 0.875rem;
        font-weight: 500;
        color: var(--secondary-color);
    }
    p {
        font-size: 0.6rem;
        font-weight: 400;
        color: var(--text-primary-color);
    }
}
