.btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: $radius;
    border: none;
    cursor: pointer;
    transition: $transition-300;
    span {
        font-size: 0.875rem;
        font-weight: 400;
        color: var(--secondary-color);
    }
    img {
        margin-inline-start: 0.5rem;
    }
}
.btn--primary {
    background-color: var(--primary-color);
    span {
        color: var(--text-secondary-color);
    }
    &:hover {
        transform: scale(1.02);
    }
}
.btn--secondary {
    background-color: transparent;
    border: 0.1rem solid var(--text-primary-color);
    span {
        color: var(--text-primary-color);
    }
    &:hover {
        background-color: var(--primary-color);
        border-color: var(--primary-color);
        span {
            color: var(--bg-secondary-color);
        }
    }
}
.btn--danger {
    background-color: var(--bg-secondary-color);
    border: 0.1rem solid $error;
    span {
        color: $error;
    }
    img {
        filter: invert(17%) sepia(63%) saturate(5261%) hue-rotate(352deg) brightness(96%) contrast(93%);
    }
    &:hover {
        background-color: $error;
        border-color: $error;
        span {
            color: var(--bg-secondary-color);
        }
        img {
            filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(326deg) brightness(105%) contrast(107%);
        }
    }
}
.btn--danger:hover {
    .list__container {
        @extend .list--active;
    }
}
