<div class="luca-chat-header">
    <h1></h1>
    <h1>Chat</h1>
    <img id="luca-chat-exit-icon" src="{exitIcon}" alt="" />
</div>
<div class="luca-chat-messages-container"></div>
<div class="luca-chat-input-container">
    <div class="luca-chat-send-message">
        <input id="luca-input-field" name="luca-input" placeholder="Write Something here" />
        <button id="luca-chat-send-message-button">
            <img src="{arrowUp}" alt="" />
        </button>
    </div>
    <span class="luca-chat-emoji">
        <img src="{emojiIcon}" alt="" />
        <div class="luca-chat-emoji-reaction-container"></div>
    </span>
</div>
<div id="luca-chat-inner-toggle"></div>
