@import "./vendor/variables";

:root {
    --primary-color: #{$primary-clr};
    --secondary-color: #{$secondary-clr};
    --bg-primary-color: #{$bg-primary-clr};
    --bg-secondary-color: #{$white};
    --text-primary-color: #{$text-primary-clr};
    --text-secondary-color: #{$text-secondary-clr};
}

:root.dark-theme {
    --primary-color: #{$dark-primary-clr};
    --secondary-color: #{$dark-secondary-clr};
    --bg-primary-color: #{$dark-primary-bg-clr};
    --bg-secondary-color: #{$dark-secondary-bg-clr};
    --text-primary-color: #{$dark-text-primary-clr};
    --text-secondary-color: #{$dark-text-secondary-clr};
    .element {
        img {
            filter: invert(99%) sepia(76%) saturate(2%) hue-rotate(131deg) brightness(114%) contrast(100%) !important;
        }
    }
    .avatars__container {
        &::after {
            background: linear-gradient(270deg, rgba(24, 25, 26, 1) 0%, rgba(255, 255, 255, 0) 100%) !important;
        }
    }
    .input__room {
        img {
            filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(43deg) brightness(102%) contrast(101%);
        }
    }
}

.luca-selected-video {
    background-color: red;
}
.luca--default-value {
    font-size: 16px;
    font-family: $font-family !important;
    p {
        font-family: $font-family !important;

        margin: 0px !important;
        padding: 0px !important;
        font-size: 1em;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $font-family !important;
        margin: 0px !important;
        padding: 0px !important;
    }
    label {
        font-family: $font-family !important;
        margin: 0px !important;
        padding: 0px !important;
        font-size: 1em;
    }
}
#luca-selected-video-frame {
    border: solid 5px var(--primary-color);
    border-radius: $radius;
    position: absolute;
    z-index: 2147483647;
}

.luca-video-highlight {
    position: relative;
    border: solid 5px var(--primary-color);
    position: absolute;
    z-index: 2147483647;
}

.luca-video-highlight-close {
    font-size: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1.5em;
    width: 1.5em;
    top: 1em;
    left: 1em;
    background-color: var(--bg-secondary-color);
    border-radius: $radius;
    transition: $transition-300;
    cursor: pointer;
    &::after,
    &::before {
        position: absolute;
        content: "";
        width: 1em;
        height: 0.15em; /* cross thickness */
        background-color: var(--secondary-color);
    }
    &::after {
        transform: rotate(-45deg);
    }
    &::before {
        transform: rotate(45deg);
    }
    &:hover {
        // background-color: darken(var(--bg-secondary-color), 20%);
    }
}

.luca-video-highlight-play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 74px;
    border-color: transparent transparent transparent var(--primary-color);
    transition: 100ms all ease;
    cursor: pointer;
    border-style: solid;
    border-width: 37px 0 37px 60px;
    border-radius: $radius;
    &:hover {
        border-color: transparent transparent transparent $success;
    }
}

#luca-reactions-container {
    position: fixed;
    z-index: 2147483647;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    height: 50px;
    max-width: 300px;
    cursor: pointer;
}

.luca-reaction-particle {
    width: 80px;
    height: 80px;
    display: inline-flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -200px;
    transition: $transition-300;
    margin: auto;
}

#luca-chat-outer-toggle {
    @extend .luca--default-value;
    font-size: 13px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
    background-color: $black;
    min-width: 2em;
    max-width: 2em;
    min-height: 10vh;
    max-height: 10vh;
    padding: 0.2em;
    opacity: 0.4;
    cursor: pointer;
    border-radius: $radius 0em 0em $radius;
    box-shadow: $shadow-z200;
    transition: $transition-300;
    z-index: 2147483647;
    &:hover {
        opacity: 1;
    }
}
#luca-chat-page-container {
    @extend .luca--default-value;
    font-size: 12px !important;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
    background-color: var(--bg-secondary-color);
    min-width: 0em;
    max-width: 0em;
    min-height: 60vh;
    max-height: 60vh;
    padding: 0em;
    opacity: 0;
    border-radius: $radius;
    box-shadow: $shadow-z200;
    transition: $transition-300;
    z-index: 2147483647;
    // @extend .luca-chat--active-effect;
    #luca-chat-inner-toggle {
        position: absolute;
        width: 0.35em;
        border-radius: 4px;
        height: 20%;
        left: 0.3rem;
        top: 50%;
        background-color: var(--text-primary-color);
        transform: translate(0%, -50%);
        cursor: pointer;
    }
    .luca-chat-input-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5em;
        position: absolute;
        bottom: 0.5em;
        width: 90%;
        .luca-chat-send-message {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: 1;
            background-color: var(--bg-primary-color);
            border-radius: $radius;
            padding: 0.2em;
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--primary-color);
                border: none;
                border-radius: $radius * 100;
                width: 2em;
                height: 2em;
                cursor: pointer;
                span {
                    svg {
                        width: 1em;
                        height: 1em;
                    }
                }
            }
            input {
                border: none;
                background-color: var(--bg-primary-color);
                font-size: 0.9em;
                color: var(--secondary-color);
                border-radius: $radius;
                padding: 0.5em;
                width: 90%;
                &:focus-visible {
                    outline: none !important;
                }
            }
        }
        .luca-chat-emoji {
            display: flex;
            cursor: pointer;
            transition: $transition-300;
            &:hover .luca-chat-emoji-reaction-container {
                @extend .luca-chat-emoji-reaction--active-effect;
            }
            > img {
                width: 1.8em;
                height: 1.8em;
            }
        }
    }
    .luca-chat-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
            font-size: 1.2em;
            font-weight: 500;
            color: var(--secondary-color);
        }
        img {
            width: 1.5em;
            height: 1.5em;
            cursor: pointer;
        }
    }
    .luca-chat-messages-container {
        display: flex;
        flex-direction: column;
        max-height: 100%;
        min-height: 100%;
        margin-bottom: 2em;
        overflow: scroll;
        gap: 0.5em;
        &::-webkit-scrollbar {
            width: 0;
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: transparent;
        }
        .luca-message-container {
            .luca-message-information {
                display: flex;
                justify-content: space-between;
                align-items: center;

                p {
                    font-size: 0.6em;
                    font-weight: 300;
                    color: var(--text-primary-color);
                }
                .luca-message-avatar {
                    display: flex;
                    align-items: center;
                    gap: 0.5em;
                    img {
                        width: 2em;
                        height: 2em;
                        border-radius: $radius * 100;
                        object-fit: cover;
                        object-position: top;
                        box-shadow: $shadow-z200;
                    }
                    h1 {
                        font-size: 0.8em;
                        font-weight: 500;
                        color: var(--secondary-color);
                    }
                }
            }
            .luca-message {
                padding-inline-start: 2.5em;
                p {
                    word-break: break-all;
                    font-size: 0.8em;
                    font-weight: 400;
                    color: var(--secondary-color);
                    padding-inline-start: 3em;
                }
            }
        }
    }
}

.luca-chat--active-effect {
    min-width: 22em !important;
    max-width: 22em !important;
    padding: 1em !important;
    opacity: 1 !important;
}
.luca-chat-emoji-reaction--active-effect {
    visibility: visible !important;
    opacity: 1 !important;
}
.luca-chat-emoji-reaction-container {
    background-color: var(--bg-primary-color);
    border-radius: $radius * 100;
    display: flex;
    gap: 0.5em;
    position: absolute;
    bottom: 3.5em;
    padding: 0.5em;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: $transition-300;
    img {
        width: 2.2em;
        height: 2.2em;
        transition: $transition-300;
        cursor: pointer;
        &:hover {
            transform: scale(1.5);
        }
    }
}
