.luca-selected-video {
    background-color: red;
}

#luca-selected-video-frame {
    border: solid 5px blue;
    position: absolute;
    z-index: 999999;
}

.luca-video-highlight {
    position: relative;
    border: solid 5px rebeccapurple;
    position: absolute;
    z-index: 999999;
}

.luca-video-highlight-close {
    position: relative;
    height: 20px;
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.luca-video-highlight-close::before,
.luca-video-highlight-close::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px; /* cross thickness */
    background-color: black;
}

.luca-video-highlight-close::before {
    transform: rotate(45deg);
}

.luca-video-highlight-close::after {
    transform: rotate(-45deg);
}

.luca-video-highlight-play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 74px;

    border-color: transparent transparent transparent brown;
    transition: 100ms all ease;
    cursor: pointer;

    border-style: solid;
    border-width: 37px 0 37px 60px;
}

.luca-video-highlight-play:hover {
    border-color: transparent transparent transparent red;
}

#luca-chat-container {
    position: fixed;
    right: 0px;
    bottom: 0px;
    background-color: rgba(165, 42, 42, 0.2);
    height: 100%;
    max-width: 200px;
}

#luca-chat-new-message {
    position: fixed;
    left: 50%;
    bottom: 0px;
    z-index: 9999999;
    transform: translateX(-50%);
    opacity: 0.5;
    border: solid 1px brown;
}

#luca-chat-new-message input {
    width: 300px;
    padding: 5px;
    font-size: 20px;
}

.luca-chat-bubble {
    padding: 10px;
    border-radius: 12px;
    background-color: cyan;
    margin: 6px;
}

#luca-reactions-container {
    position: fixed;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    height: 50px;
    max-width: 300px;
    cursor: pointer;
}

.luca-reaction {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.luca-reaction-particle {
    width: 80px;
    height: 80px;
    display: inline-flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin: auto;
}
