.footer__containter {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0.3rem;
    background-color: var(--bg-secondary-color);
    text-align: center;
    p {
        font-size: 0.563rem;
        font-weight: 400;
        color: var(--secondary-color);
        a {
            text-decoration: none;
            font-size: 0.563rem;
            font-weight: 500;
            color: var(--primary-color);
        }
    }
}
