.footer__containter {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0.3rem;
    background-color: $white;
    text-align: center;
    p {
        font-size: 0.563rem;
        font-weight: 400;
        color: $secondary-clr;
        a {
            text-decoration: none;
            font-size: 0.563rem;
            font-weight: 500;
            color: $primary-clr;
        }
    }
}
